In [1]:
import polars as pl

In [2]:
df = pl.DataFrame(
    {
        "A": [1, 2, 3, 4, 5],
        "fruits": ["banana", "banana", "apple", "apple", "banana"],
        "B": [5, 4, 3, 2, 1],
        "cars": ["beetle", "audi", "beetle", "beetle", "beetle"],
    }
)

In [3]:
df

shape: (5, 4)
┌─────┬────────┬─────┬────────┐
│ A   ┆ fruits ┆ B   ┆ cars   │
│ --- ┆ ---    ┆ --- ┆ ---    │
│ i64 ┆ str    ┆ i64 ┆ str    │
╞═════╪════════╪═════╪════════╡
│ 1   ┆ banana ┆ 5   ┆ beetle │
│ 2   ┆ banana ┆ 4   ┆ audi   │
│ 3   ┆ apple  ┆ 3   ┆ beetle │
│ 4   ┆ apple  ┆ 2   ┆ beetle │
│ 5   ┆ banana ┆ 1   ┆ beetle │
└─────┴────────┴─────┴────────┘

In [4]:
df = pl.read_csv('./dataset/1.conversion/conversion_data.csv')

In [5]:
df

shape: (316_200, 6)
┌─────────┬─────┬──────────┬────────┬─────────────────────┬───────────┐
│ country ┆ age ┆ new_user ┆ source ┆ total_pages_visited ┆ converted │
│ ---     ┆ --- ┆ ---      ┆ ---    ┆ ---                 ┆ ---       │
│ str     ┆ i64 ┆ i64      ┆ str    ┆ i64                 ┆ i64       │
╞═════════╪═════╪══════════╪════════╪═════════════════════╪═══════════╡
│ UK      ┆ 25  ┆ 1        ┆ Ads    ┆ 1                   ┆ 0         │
│ US      ┆ 23  ┆ 1        ┆ Seo    ┆ 5                   ┆ 0         │
│ US      ┆ 28  ┆ 1        ┆ Seo    ┆ 4                   ┆ 0         │
│ China   ┆ 39  ┆ 1        ┆ Seo    ┆ 5                   ┆ 0         │
│ US      ┆ 30  ┆ 1        ┆ Seo    ┆ 6                   ┆ 0         │
│ …       ┆ …   ┆ …        ┆ …      ┆ …                   ┆ …         │
│ US      ┆ 26  ┆ 1        ┆ Ads    ┆ 9                   ┆ 0         │
│ US      ┆ 27  ┆ 1        ┆ Direct ┆ 6                   ┆ 0         │
│ China   ┆ 25  ┆ 0        ┆ Ads    ┆ 4                   ┆ 0         │
│ US      ┆ 22  ┆ 0        ┆ Seo    ┆ 4                   ┆ 0         │
│ UK      ┆ 24  ┆ 0        ┆ Ads    ┆ 4                   ┆ 0         │
└─────────┴─────┴──────────┴────────┴─────────────────────┴───────────┘